/* Device
-----------------------------------------------------------------------------*/

.simulator {
	background: url(ipad.png) no-repeat;
	background-size: 1956px 2536px;
	height: 2536px;
	padding-top: 246px;
	padding-bottom: 242px;
	padding-left: 210px;
	padding-right: 210px;
	width: 1956px;
}

.simulator .simulator-glare {
	background: url(ipad-glare.png) no-repeat top right; /* Must be here, FF11 */
    background-size: 1054px 2382px;
	height: 2382px;
	width: 1956px;
}

.simulator .simulator-display {
	height: 2048px;
	width: 1536px;
}

.simulator.portrait .simulator-content {
	zoom: 200%;
}