/* Device
-----------------------------------------------------------------------------*/

.simulator {
	-webkit-border-radius: 58px;
	   -moz-border-radius: 58px;
	        border-radius: 58px;
	background: url(ipad.jpg) no-repeat;
	background-size: 978px 1268px;

	height: 1268px;
	padding-top: 123px;
	padding-bottom: 121px;
	padding-left: 105px;
	padding-right: 105px;
	width: 978px;
}

.simulator .simulator-glare {
	-webkit-backface-visibility: hidden;
	   -moz-backface-visibility: hidden;
	        backface-visibility: hidden;
	background: url(ipad-glare.png) no-repeat top right;
    background-size: 527px 1191px;
	height: 1268px;
	opacity: 0.5;
	position: absolute;
	pointer-events: none;
	top: 10px;
	right: 10px;
	width: 978px;
	z-index: 2000;
}

.simulator .simulator-display {
	height: 1024px;
	width: 768px;
}

.simulator.portrait .simulator-content {
	height: 1024px;
	width: 768px;
}

.simulator.landscape .simulator-content {
	height: 768px;
	margin-top: 128px;
	margin-left: -128px;
	width: 1024px;
}

.simulator.portrait .simulator-content iframe {
	height: 1004px;
	width: 768px;
}

.simulator.landscape .simulator-content iframe {
	height: 748px;
	width: 1024px;
}

/* Portrait With Safari Bar */

.simulator.portrait.with-safari-bar .simulator-content iframe {	height: 928px; }

/* Landscape With Safari Bar */

.simulator.landscape.with-safari-bar .simulator-content iframe {	height: 672px; }

/* Safari Bar
-----------------------------------------------------------------------------*/

.simulator .simulator-safari-bar {
	display: none;
	width: 100%;
}

.simulator.portrait .simulator-safari-bar {
	background: url(safari-bar-portrait.png);
    background-size: 768px 76px;
    height: 76px;
}

.simulator.landscape .simulator-safari-bar {
	background: url(safari-bar-landscape.png);
    background-size: 1024px 76px;
    height: 76px;
}

.simulator.with-safari-bar .simulator-safari-bar {
	display: block;
}
